body {
    background-color: #006666;
    background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.NavBar {
    text-align: justify;
}